
.val-item {
    color: #3183b2;

}
.val-item h1 {
    text-align: center;
    font-size: calc(1vw + .7rem);
}
.val-item li {
    color: black;
    list-style-type: decimal;
    font-size: calc(1vw + 0.6rem);
    font-weight: 600;
    padding: calc(1vw * 0.5 + (5vw*.3));
}

.val-li p {
    font-size: calc(1vw + .5rem);
    font-weight: 100;
    margin: 10px;
}

@media screen and (min-width: 1024px) {
    .val-item {
        padding: 25px 150px;
    }
    .val-item h1 {
        font-size: calc(1vw + 1rem);
    }
    .val-item li {
        font-size: calc(1vw + 0.7rem);
        padding: calc(1vw * 0.5 + (5vw*.3));
    }
    .val-li p {
        font-size: calc(1vw + .7rem);
        font-weight: 100;
        margin: 10px;
    }
}

@media screen and (min-width: 390px) and (max-width: 1023px){
    .val-item {
        padding: 20px 25px;
    }
    .val-item h1 {
        font-size: calc(1vw + 1rem);
    }
    .val-item li {
        font-size: calc(1vw + 0.7rem);
        padding: calc(1vw * 0.5 + (5vw*.3));
    }
    .val-li p {
        font-size: calc(1vw + .7rem);
        font-weight: 100;
        margin: 10px;
    }
}

